In [40]:
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import csv
import pandas as pd
import sqlalchemy
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import create_engine

In [41]:
print("Версия SQLAlchemy:", sqlalchemy.__version__)  # посмотреть версию SQLALchemy

Версия SQLAlchemy: 1.4.30

In [7]:
engine = create_engine('mysql+mysqlconnector://root:ПАРОЛЬ@localhost/parse', echo=True)

metadata = MetaData()

users_table = Table('parse_data', metadata,
    Column('Author', String(50)), 
    Column('Title', Integer, primary_key=True),
    Column('Original Publication', String(50)),
    Column('Credits', String(50)),
    Column('Category', String(50)),
    Column('EBook-No.', String(50)),
    Column('Copyright Status', String(50)),
)
metadata.create_all(engine)

2022-01-20 12:52:40,842 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-01-20 12:52:40,842 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-20 12:52:40,844 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-01-20 12:52:40,844 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-20 12:52:40,845 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-01-20 12:52:40,846 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-20 12:52:40,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 12:52:40,848 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-01-20 12:52:40,848 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {'table_schema': 'parse', 'table_name': 'parse_data'}
2022-01-20 12:52:40,849 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
data = pd.read_csv('parsed_data.csv')

In [28]:
data

,Author,Title
0,"Aaberg, J. C. (Jens Christian), 1877-1970",Hymns and Hymnwriters of Denmark
1,"Aandahl, Vance, 1942-","1,492,633 Marlon Brandos"
2,"Aanrud, Hans, 1863-1953",Lisbeth Longfrock
3,"Aaron, S. F. (Samuel Francis), 1862-","Radio Boys Cronies; Or, Bill Brown's Radio"
4,"Whipple, Wayne, 1856-1942","Radio Boys Cronies; Or, Bill Brown's Radio"
...,...,...
233,"Abert, S. T. (Silvanus Thayer), 1828-1903","Is a Ship Canal Practicable?\rNotes, Historica..."
234,"Abhedananda, Swami, 1866-1939",Five Lectures on Reincarnation
235,"Abney, William de Wiveleslie, Sir, 1843-1920",The Art and Practice of Silver Printing
236,"Robinson, H. P. (Henry Peach), 1830-1901",The Art and Practice of Silver Printing
237,"Abney, William de Wiveleslie, Sir, 1843-1920",Colour Measurement and Mixture

In [52]:
Base = declarative_base()

class parse_data(Base):
    
    __tablename__ = 'parse_data'
    __table_args__ = {'sqlite_autoincrement': True}

    id = Column(Integer, primary_key=True, nullable=False) 
    Author = Column(VARCHAR)
    Title = Column(VARCHAR)

Base.metadata.create_all(engine)

df = pd.read_csv('parsed_data.csv')
df.to_sql(con=engine, index_label='id', name=parse_data.__tablename__, if_exists='replace')

2022-01-20 16:50:17,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 16:50:17,329 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-01-20 16:50:17,330 INFO sqlalchemy.engine.Engine [cached since 1.426e+04s ago] {'table_schema': 'parse', 'table_name': 'parse_data'}
2022-01-20 16:50:17,331 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 16:50:17,336 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-01-20 16:50:17,337 INFO sqlalchemy.engine.Engine [cached since 1.426e+04s ago] {'table_schema': 'parse', 'table_name': 'parse_data'}
2022-01-20 16:50:17,339 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-01-20 16:50:17,339 INFO sqlalchemy.engine.Engine [cached since 1.426e+04s ago] {'table_schema': 'parse', 'table_name': 'parse_data'}
2022-01-20 16:50:17,341 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `parse`
2022-01-20 16:50:17,341 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-20 16:50:17,355 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `parse_data`
2022-01-20 16:50:17,356 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-20 16:50:17,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 16:50:17,359 INFO sqlalchemy.engine.Engine
DROP TABLE parse_data
2022-01-20 16:50:17,359 INFO sqlalchemy.engine.Engine [no key 0.00068s] {}
2022-01-20 16:50:17,364 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 16:50:17,365 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 16:50:17,366 INFO sqlalchemy.engine.Engine
CREATE TABLE parse_data (
	id BIGINT,
	`Author` TEXT,
	`Title` TEXT
)


2022-01-20 16:50:17,367 INFO sqlalchemy.engine.Engine [no key 0.00074s] {}
2022-01-20 16:50:17,376 INFO sqlalchemy.engine.Engine CREATE INDEX ix_parse_data_id ON parse_data (id)
2022-01-20 16:50:17,376 INFO sqlalchemy.engine.Engine [no key 0.00087s] {}
2022-01-20 16:50:17,383 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 16:50:17,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 16:50:17,388 INFO sqlalchemy.engine.Engine INSERT INTO parse_data (id, `Author`, `Title`) VALUES (%(id)s, %(Author)s, %(Title)s)
2022-01-20 16:50:17,388 INFO sqlalchemy.engine.Engine [generated in 0.00186s] ({'id': 0, 'Author': 'Aaberg, J. C. (Jens Christian), 1877-1970', 'Title': 'Hymns and Hymnwriters of Denmark'}, {'id': 1, 'Author': 'Aandahl, Vance, 1942-', 'Title': '1,492,633 Marlon Brandos'}, {'id': 2, 'Author': 'Aanrud, Hans, 1863-1953', 'Title': 'Lisbeth Longfrock'}, {'id': 3, 'Author': 'Aaron, S. F. (Samuel Francis), 1862-', 'Title': "Radio Boys Cronies; Or, Bill Brown's Radio"}, {'id': 4, 'Author': 'Whipple, Wayne, 1856-1942', 'Title': "Radio Boys Cronies; Or, Bill Brown's Radio"}, {'id': 5, 'Author': 'Aaron, S. F. (Samuel Francis), 1862-', 'Title': 'Radio Boys Loyalty; Or, Bill Brown Listens In'}, {'id': 6, 'Author': 'Whipple, Wayne, 1856-1942', 'Title': 'Radio Boys Loyalty; Or, Bill Brown Listens In'}, {'id': 7, 'Author': 'Aaronsohn, Alexander, 1888-1948', 'Title': 'With the Turks in Palestine'}  ... displaying 10 of 238 total bound parameter sets ...  {'id': 236, 'Author': 'Robinson, H. P. (Henry Peach), 1830-1901', 'Title': 'The Art and Practice of Silver Printing'}, {'id': 237, 'Author': 'Abney, William de Wiveleslie, Sir, 1843-1920', 'Title': 'Colour Measurement and Mixture'})
2022-01-20 16:50:17,399 INFO sqlalchemy.engine.Engine COMMIT